a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.navbar-top {
    background-color: rgb(19, 19, 19);
    border-bottom: 1.2px solid transparent;
}

#nav-trans {
    position: fixed;
    z-index: 9999;
    width: 100%;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%, -50%);
    border-bottom: 1px;
    border-style: solid;
    border-color: #2d3139;
    border-radius: 0px 0px 4px 4px;
    max-width: 100%;
}

.navbar-nav ul li a {
    list-style: none;
    display: inline;
}

ul li a:after {
    content: "•";
    padding-left: 1rem;
}

ul li:last-child a:after {
    content: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    background-color: rgb(32, 32, 32);
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(224, 224, 224);
    font: normal .85em arial, helvetica, sans-serif;
    height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: transparent;
    color: #EEE;
    font-family: "Segoe UI", "Open Sans", sans-serif;
}

canvas {
    width: 500px;
    height: 500px;
}

.window {
    margin: 2em auto;
    min-width: 28em;
    max-width: 70em; 
    min-height: 12em;
    border: .5em solid transparent;
    background:
              url(corners.svg#top-left) top left/14em no-repeat border-box,
              url(corners.svg#top-right) top right/14em no-repeat border-box,
              url(corners.svg#bottom-left) bottom left/14em no-repeat border-box,
              url(corners.svg#bottom-right) bottom right/14em no-repeat border-box,
              url(corners.svg#top) top/100% 14em no-repeat padding-box,
              url(corners.svg#right) right/14em 100% no-repeat padding-box,
              url(corners.svg#bottom) bottom/100% 14em no-repeat padding-box,
              url(corners.svg#left) left/14em 100% no-repeat padding-box,
              rgba(16, 4, 24, .75) padding-box;
    padding: 1.75em;
    transition: max-width 1s;
}

a {
    color: #87C3E0;
    font-weight: 500;
}

a:hover {
    color: #FFFFFF;
    font-weight: 600;
}

h1, .h1, h2, .h2 {
    font-family: Agency FB, Abel, sans-serif;
}

.window-short {
    max-width: 30em;
}

.window-cell {
    display: table-cell;
    width: 600px
}

.window > h2 {
    text-align: center;
    margin-top: -1em;
}

.window > :first-child {
    margin-top: 0;
}

.window > :last-child {
    margin-bottom: 0;
}

.footer {
    position: absolute;
    width: 55%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

::-webkit-scrollbar-thumb {
    background: #87c3e0 top left repeat-x;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}

::-webkit-scrollbar {
    width: 12px;
}

/* Grids and stuff */

.btn-sort.sort-up,
.btn-sort.sort-down {
    border: 1px transparent solid;
    color: #00cffe;
    background: transparent;
    outline: none;
    border-radius: 100%;
    line-height: 2.2em;
    font-weight: bold;
    font-size: 0.6em;
    margin: 0 0.2em;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.btn-sort.sort-up:hover,
.btn-sort.sort-down:hover {
    border: 1px #00cffe solid;
}

.btn-sort.sort-up:focus,
.btn-sort.sort-down:focus,
.btn-sort.sort-up.active,
.btn-sort.sort-down.active {
    background: #00cffe;
    color: #333;
    outline: none;
}

.btn-sort.sort-up:after {
    content: '⬆';
}

.btn-sort.sort-down:after {
    content: '⬇';
}

table {
    width: 100%;
    padding: 2em;
    color: #aaa;
}

table thead {
    font-weight: bold;
    font-size: 0.8em;
    color: #828282;
}

table td {
    padding: 0.1em 0.5em;
    font-size: 0.9em;
    vertical-align: middle;
}

table .thead-cell {
    justify-content: space-between;
    align-items: center;
}

.region:before {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
    font-weight: bold;
    user-select: none;
    width: 25px;
}
