@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="window">
        <h2>What is DSCore?</h2><br /><br />
        <p>
            DSCore, or Discovery Core, is a online utility that provide constanly up to date information about ships, weapons,
            factions, and... well anything. The main difference between DSCore and similar tools is how it stores and manages data.
            When ever a new patch is deployed, the tool is able to generate a database to be up to date with the latest changes. The
            main advantage of this is being able sync data between the client and the server, giving up to date information on things
            normally inaccessible to the client, like stats of cloaking devices and similar.
        </p><br />
    </div>

    <br />
    <div class="window">
        <h2>Open Source</h2><br />
        <p>
            The source code for this project is available on my <a href="https://github.com/LazDisco/DSCore">GitHub</a> should anyone
            wish to add to or modify it. I wont pretend the code is perfect, but it's stable enough to not crash every ten seconds,
            or so I hope. All projects within the solution are targeting .NET Core 2.2.
        </p>
        <br /><br />
        <h2>Credits</h2>
        <p>
            The creator of this application was me, <a href="https://discoverygc.com/forums/member.php?action=profile&uid=29897">Laz</a>,
            but I had help with it.<br />
            Massive kudos to <a href="https://discoverygc.com/forums/member.php?action=profile&uid=2774">Treewyrm</a>. He created GLancer, the tool that allows
            for the model viewer you see on various pages, and provided assistance with the application design, helping to create this beautiful 'Freelancer' feel.<br/>
            Kudos to <a href="https://discoverygc.com/forums/member.php?action=profile&uid=25736" target="_blank"> Android_Data, A.K.A. Evanz</a>, for the nice defender icon.
        </p>
    </div>
</div>
