@{
    Layout = null;
    ViewData["Title"] = "Loading Results";
}
<link rel="stylesheet" href="~/css/loading.css" />
<link rel="stylesheet" href="~/css/site.css" />

<!-- This cool effect was created by: https://codepen.io/achudars/pen/sbDdm -->
<h3>Searching the database for your search term</h3>
<div id='center'>
        <div id='spaceship'>
            <div id='window'></div>
        </div>
        <div id='tail'></div>
        <div id='left-wing'></div>
        <div id='right-wing'></div>
        <div id='exhaust'></div>
        <div id='tail'></div>
</div>
