@{
    ViewData["Title"] = "Special Equipment";
}


<div class="text-center">
    <div class="window window-short">
        <h2>@ViewData["Title"]</h2>
        <br/><br />
        
        <span>Select a list to browse:</span><br/><br />
        <span><a asp-controller="SpecialEquipment" asp-action="Cloaks">Cloaks</a></span><br />
        <span><a asp-controller="SpecialEquipment" asp-action="Disrupters">Disrupters</a></span><br />
        <span><a asp-controller="SpecialEquipment" asp-action="Jumpdrives">Jumpdrives</a></span><br />
        <span><a asp-controller="SpecialEquipment" asp-action="HyperspaceScanners">Hyperspace Scanners</a></span><br />
    </div>
</div>