@{
    ViewData["Title"] = "Special Equipment";
}


<div class="text-center">
    <div class="window window-short">
        <h2>@ViewData["Title"]</h2>
        <br/>
        
        
    </div>
</div>